body {
    font-family: Arial, Helvetica, sans-serif;
    background: #fff6ec;
    color: indigo;
    text-align: center;
}

.name {
    color:rgb(217, 25, 217);
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline wavy rgb(56, 18, 183);
    text-underline-offset: 10px;
    text-shadow: 2px 2px rgb(73, 12, 117);
    letter-spacing: 4px;
}
a {
    display: inline;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 40px;
    border: 3px solid purple;
    border-radius: 5px;
    font-family: cursive;
    letter-spacing: 1px;
    padding: 8px 10px;
    background-color: #98ae90;
}
a:hover {
    background-color: cyan;
  color: white;
}
img {
    margin-top: 20px;
    width: 100%;
}