.container {
    background-color: #e6ccff; /* Light purple */
    padding: 20px;
    text-align: center;
}

.header {
    color: #87ceeb; /* Sky blue */
    font-size: 36px;
}

.haiku {
    margin-top: 30px;
    color: #ff4500; /* Sunset orange */
    font-size: 18px;
}

.instagram-link {
    display: block;
    margin-top: 30px;
    color: #000; /* Black */
    text-decoration: none;
    font-size: 20px;
}

.instagram-link:hover {
    color: #ff4500; /* Sunset orange */
}
